<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs Dashboard</title>
</head>
<body>
    <%- include('index2.ejs') %>
    <h3><% for( let index = 0; index < blog_content.length; index++ ) { %>
        <%= blog_content[index] %>
    <% } %></h3>
    <form action="/delete" method="post">
        <label for="delte">Enter the blog no you want to delete.</label>
        <input id="delete" name="delete">
        <button id="deleteButton">Delete Blog</button>
    </form>
    <form action="/edit" method="post">
        <label for="editBlog">Enter the blog no you want to edit.</label>
        <input type="number" id="blogNumber" name="blogNumber">
        <input type="text" id="blogText" name="blogText">
        <button id="editBtn">Edit Blog</button>
    </form>
</body>
</html>